@model StudentGradeViewModel

<div class="container">
    <h2>Your Grade: </h2>
    <p><strong>Course Block:</strong> @Model.GradeCode</p>
    <p><strong>Grade Comments:</strong> @Model.GradeComments</p>
    <a class="btn btn-secondary" href="@Url.Action("Index", "StudentDashboard")">Back to Dashboard</a>
</div>